image: python:3.13

options:
  # Set maximum execution time for each step
  max-time: 5

pipelines:
  default:
    - parallel:
      - step:
          caches:
            - pip
          script:
            - apt-get update && apt-get -y install unixodbc-dev
            - pip install tox
            - tox -e py313 -- --pipeline
      - step:
          caches:
            - pip
          script:
            - pip install safety
            - safety --stage cicd --key $PYUP_API_KEY scan
  custom:
    # Used to run scheduled checks
    safety:
      - step:
          caches:
            - pip
          script:
            - pip install safety
            - safety --stage cicd --key $PYUP_API_KEY scan
