parameters:
- name: pythonVersion
  type: string
- name: MsiTargetType
  type: string

steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '${{parameters.pythonVersion}}'
    displayName: 'Use Python ${{parameters.pythonVersion}}'     

  - bash: |
      set -ex
      python -m venv venv_msi_build
      source venv_msi_build/scripts/activate
      python -m pip install --upgrade pip
      pip install artifacts-keyring --no-input
      set ARTIFACTS_KEYRING_NONINTERACTIVE_MODE=true
      pip config set global.index-url $(AhjoArtifactsIndexURL) 
      pip install -r ./msi_build_requirements.txt
      export AHJO_MSI_TARGET_TYPE=${{parameters.MsiTargetType}}
      python ./msi_build.py bdist_msi  
      for file in dist/*.msi; do mv "$file" "${file%.msi}-${AHJO_MSI_TARGET_TYPE}.msi"; done
    displayName: "Build release artefacts"

  - task: UseDotNet@2
    displayName: 'Use .NET SDK 10.x'
    inputs:
      packageType: 'sdk'
      version: '10.0.x'

# Install Azure SignTool using .NET SDK
  - task: DotNetCoreCLI@2
    inputs:
      command: 'custom'
      custom: 'tool'
      arguments: 'install --global azuresigntool --version 7.0.0'
    displayName: Install AzureSignTool
    
  - task: AzureCLI@2
    inputs:
      azureSubscription: Az-signprod
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: |
        AzureSignTool sign -d "Ahjo" -kvu "$(kvURI)" -kvm -kvt $(TenantId) -kvc $(certName) -tr "http://ts.ssl.com" -td sha256 D:/a/1/s/dist/*.msi
    displayName: Sign files with cert from AzureKeyVault

  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: 'dist'
    displayName: Publish msi-file as a pipeline artifact

