steps:
  - task: DownloadPipelineArtifact@2
    inputs:
      source: "current"
      pattern: '*.msi'
      targetPath: '$(Pipeline.Workspace)/msiupload'
    displayName: "Download build artefacts"

# Use powershell to move msi-files from workspace/msiupload to workspace/msi
  - powershell: |
      $source1 = "$(Pipeline.Workspace)/msiupload/MSIBuild.BuildForSystem"
      $source2 = "$(Pipeline.Workspace)/msiupload/MSIBuild.BuildForUser"
      $destination = "$(Pipeline.Workspace)/msi"
      mkdir $destination
      Get-ChildItem -Path $source1 -Filter *.msi | Move-Item -Destination $destination
      Get-ChildItem -Path $source2 -Filter *.msi | Move-Item -Destination $destination
      cd $destination
      ls
    displayName: Move MSI-files before upload


# Copy the MSI files to Azure Storage
  - task: AzureFileCopy@6
    inputs:
      SourcePath: "$(Pipeline.Workspace)/msi"
      azureSubscription: 'SC for storage - UAMI'
      Destination: 'AzureBlob'
      storage: 'stalmbanksystestdev001'
      ContainerName: 'ahjo-msi'
      CleanTargetBeforeCopy: true
    displayName: "Copy MSI files to Azure Blob Storage"

  - task: powershell@2
    inputs:
      targetType: 'inline'
      script: |
        Invoke-WebRequest -Method POST -Uri "$(MPATriggerURL)" -UseBasicParsing
    displayName: Trigger MPA-release pipeline